@model Project.Models.Form

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Form.css" />

<form asp-action="Form">
    <h2 class="title">THÔNG TIN CƠ BẢN</h2>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Họ và tên</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender" class="control-label">Giới tính</label><br />
        <input type="radio" asp-for="Gender" name="Gender" value="Nam" /> Nam
        <input type="radio" asp-for="Gender" name="Gender" value="Nữ" /> Nữ
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Birthdate" class="control-label">Ngày sinh</label>
        <input asp-for="Birthdate" class="form-control" />
        <span asp-validation-for="Birthdate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Birthplace" class="control-label">Nơi sinh</label>
        <input asp-for="Birthplace" class="form-control" />
        <span asp-validation-for="Birthplace" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CCCD" class="control-label">CCCD</label>
        <input asp-for="CCCD" class="form-control" />
        <span asp-validation-for="CCCD" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CCCD_Date" class="control-label">Ngày cấp</label>
        <input asp-for="CCCD_Date" class="form-control" />
        <span asp-validation-for="CCCD_Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CCCD_Place" class="control-label">Nơi cấp</label>
        <input asp-for="CCCD_Place" class="form-control" />
        <span asp-validation-for="CCCD_Place" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CCCD_Ethnicity" class="control-label">Dân tộc</label>
        <select asp-for="CCCD_Ethnicity" class="form-control">
            <option value="">-- Chọn dân tộc --</option>
            <option value="Ba Na">Ba Na</option>
            <option value="Bố Y">Bố Y</option>
            <option value="Brâu">Brâu</option>
            <option value="Bru-Vân Kiều">Bru-Vân Kiều</option>
            <option value="Chăm">Chăm</option>
            <option value="Chơ Ro">Chơ Ro</option>
            <option value="Chu Ru">Chu Ru</option>
            <option value="Chứt">Chứt</option>
            <option value="Co">Co</option>
            <option value="Cơ Ho">Cơ Ho</option>
            <option value="Cơ Lao">Cơ Lao</option>
            <option value="Cơ Tu">Cơ Tu</option>
            <option value="Cống">Cống</option>
            <option value="Dao">Dao</option>
            <option value="Ê-đê">Ê-đê</option>
            <option value="Gia Rai">Gia Rai</option>
            <option value="Giáy">Giáy</option>
            <option value="Gié-Triêng">Gié-Triêng</option>
            <option value="Hà Nhì">Hà Nhì</option>
            <option value="Hoa">Hoa</option>
            <option value="Hrê">Hrê</option>
            <option value="Kháng">Kháng</option>
            <option value="Khmer">Khmer</option>
            <option value="Khơ Mú">Khơ Mú</option>
            <option value="Kinh">Kinh</option>
            <option value="La Chí">La Chí</option>
            <option value="La Ha">La Ha</option>
            <option value="La Hủ">La Hủ</option>
            <option value="Lào">Lào</option>
            <option value="Lô Lô">Lô Lô</option>
            <option value="Lự">Lự</option>
            <option value="Mạ">Mạ</option>
            <option value="Mảng">Mảng</option>
            <option value="Mnông">Mnông</option>
            <option value="Mông">Mông</option>
            <option value="Mường">Mường</option>
            <option value="Ngái">Ngái</option>
            <option value="Nùng">Nùng</option>
            <option value="Ơ Đu">Ơ Đu</option>
            <option value="Pà Thẻn">Pà Thẻn</option>
            <option value="Phù Lá">Phù Lá</option>
            <option value="Pu Péo">Pu Péo</option>
            <option value="Ra Glai">Ra Glai</option>
            <option value="Rơ Măm">Rơ Măm</option>
            <option value="Sán Chay">Sán Chay</option>
            <option value="Sán Dìu">Sán Dìu</option>
            <option value="Si La">Si La</option>
            <option value="Tà Ôi">Tà Ôi</option>
            <option value="Tày">Tày</option>
            <option value="Thái">Thái</option>
            <option value="Thổ">Thổ</option>
            <option value="Xinh Mun">Xinh Mun</option>
            <option value="Xơ Đăng">Xơ Đăng</option>
            <option value="Xtiêng">Xtiêng</option>
        </select>
        <span asp-validation-for="CCCD_Ethnicity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Religion" class="control-label">Tôn giáo</label>
        <select asp-for="Religion" class="form-control">
            <option value="">-- Chọn tôn giáo --</option>
            <option value="Phật giáo">Phật giáo</option>
            <option value="Công giáo">Công giáo</option>
            <option value="Tin lành">Tin lành</option>
            <option value="Cao Đài">Cao Đài</option>
            <option value="Phật giáo Hòa Hảo">Phật giáo Hòa Hảo</option>
            <option value="Hồi giáo">Hồi giáo</option>
            <option value="Tôn giáo Baha'i">Tôn giáo Baha'i</option>
            <option value="Tịnh độ Cư sỹ Phật hội Việt Nam">Tịnh độ Cư sỹ Phật hội Việt Nam</option>
            <option value="Đạo Tứ Ân Hiếu nghĩa">Đạo Tứ Ân Hiếu nghĩa</option>
            <option value="Bửu Sơn Kỳ hương">Bửu Sơn Kỳ hương</option>
            <option value="Giáo hội Phật đường Nam Tông Minh Sư đạo">Giáo hội Phật đường Nam Tông Minh Sư đạo</option>
            <option value="Hội thánh Minh lý đạo - Tam Tông Miếu">Hội thánh Minh lý đạo - Tam Tông Miếu</option>
            <option value="Chăm Bà la môn">Chăm Bà la môn</option>
            <option value="Giáo hội Các thánh hữu Ngày sau của Chúa Giê su Ky tô (Mormon)">Giáo hội Các thánh hữu Ngày sau của Chúa Giê su Ky tô (Mormon)</option>
            <option value="Phật giáo Hiếu Nghĩa Tà Lơn (Cấp đăng ký hoạt động)">Phật giáo Hiếu Nghĩa Tà Lơn (Cấp đăng ký hoạt động)</option>
            <option value="Giáo hội Cơ đốc Phục lâm Việt Nam">Giáo hội Cơ đốc Phục lâm Việt Nam</option>
        </select>
        <span asp-validation-for="Religion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="control-label">Số điện thoại</label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <hr />

    <h2 class="title">ĐỊA CHỈ THƯỜNG TRÚ</h2>
    <h3>(ghi theo sổ Hộ Khẩu)</h3>
    <div class="form-group">
        <label asp-for="Province" class="control-label">Tỉnh/Thành</label>
        <select asp-for="Province" class="form-control" id="Province">
            <option value="">-- Chọn Tỉnh/Thành --</option>
            <option value="HAG">Hà Giang</option>
            <option value="CBA">Cao Bằng</option>
            <option value="LCA">Lào Cai</option>
            <option value="SLA">Sơn La</option>
            <option value="LCH">Lai Châu</option>
            <option value="BKA">Bắc Kạn</option>
            <option value="LSO">Lạng Sơn</option>
            <option value="TQU">Tuyên Quang</option>
            <option value="YBA">Yên Bái</option>
            <option value="TNG">Thái Nguyên</option>
            <option value="DBI">Điện Biên</option>
            <option value="PTH">Phú Thọ</option>
            <option value="VPH">Vĩnh Phúc</option>
            <option value="BGI">Bắc Giang</option>
            <option value="BNI">Bắc Ninh</option>
            <option value="HNO">Hà Nội</option>
            <option value="QNI">Quảng Ninh</option>
            <option value="HDU">Hải Dương</option>
            <option value="HPH">Hải Phòng</option>
            <option value="HBI">Hòa Bình</option>
            <option value="HYE">Hưng Yên</option>
            <option value="HNA">Hà Nam</option>
            <option value="TBI">Thái Bình</option>
            <option value="NDI">Nam Định</option>
            <option value="NBI">Ninh Bình</option>
            <option value="THO">Thanh Hóa</option>
            <option value="NAN">Nghệ An</option>
            <option value="HTI">Hà Tĩnh</option>
            <option value="QBI">Quảng Bình</option>
            <option value="QTR">Quảng Trị</option>
            <option value="HUE">Huế</option>
            <option value="DNG">Đà Nẵng</option>
            <option value="QNA">Quảng Nam</option>
            <option value="QNG">Quảng Ngãi</option>
            <option value="KTU">Kon Tum</option>
            <option value="GLA">Gia Lai</option>
            <option value="BDI">Bình Định</option>
            <option value="PYE">Phú Yên</option>
            <option value="DLA">Đắk Lắk</option>
            <option value="KHO">Khánh Hòa</option>
            <option value="DNO">Đắk Nông</option>
            <option value="LDO">Lâm Đồng</option>
            <option value="NTH">Ninh Thuận</option>
            <option value="BPH">Bình Phước</option>
            <option value="TNI">Tây Ninh</option>
            <option value="BDU">Bình Dương</option>
            <option value="DNA">Đồng Nai</option>
            <option value="BTH">Bình Thuận</option>
            <option value="HCM">Thành phố Hồ Chí Minh</option>
            <option value="LAN">Long An</option>
            <option value="BRV">Bà Rịa – Vũng Tàu</option>
            <option value="DTH">Đồng Tháp</option>
            <option value="AGI">An Giang</option>
            <option value="TGI">Tiền Giang</option>
            <option value="VLO">Vĩnh Long</option>
            <option value="BTR">Bến Tre</option>
            <option value="CTH">Cần Thơ</option>
            <option value="KGI">Kiên Giang</option>
            <option value="TVI">Trà Vinh</option>
            <option value="HUG">Hậu Giang</option>
            <option value="STR">Sóc Trăng</option>
            <option value="BLI">Bạc Liêu</option>
            <option value="CMA">Cà Mau</option>
        </select>
        <span asp-validation-for="Province" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="District" class="control-label">Quận/Huyện</label>
        <select asp-for="District" class="form-control" id="District">
            <option value="">-- Chọn Quận/Huyện --</option>
        </select>
        <span asp-validation-for="District" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Commune_Ward" class="control-label">Phường/Xã</label>
        <input asp-for="Commune_Ward" class="form-control" />
        <span asp-validation-for="Commune_Ward" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="House_Number" class="control-label">Số nhà, Đường</label>
        <input asp-for="House_Number" class="form-control" />
        <span asp-validation-for="House_Number" class="text-danger"></span>
    </div>
    <hr />

    <h2 class="title">ĐỊA CHỈ TẠM TRÚ</h2>
    <h3>(ghi theo sổ Tạm Trú)</h3>
    <div class="form-group">
        <label asp-for="Province1" class="control-label">Tỉnh/Thành</label>
        <select asp-for="Province" class="form-control">
            <option value="">-- Chọn Tỉnh/Thành --</option>
            <option value="HAG">Hà Giang</option>
            <option value="CBA">Cao Bằng</option>
            <option value="LCA">Lào Cai</option>
            <option value="SLA">Sơn La</option>
            <option value="LCH">Lai Châu</option>
            <option value="BKA">Bắc Kạn</option>
            <option value="LSO">Lạng Sơn</option>
            <option value="TQU">Tuyên Quang</option>
            <option value="YBA">Yên Bái</option>
            <option value="TNG">Thái Nguyên</option>
            <option value="DBI">Điện Biên</option>
            <option value="PTH">Phú Thọ</option>
            <option value="VPH">Vĩnh Phúc</option>
            <option value="BGI">Bắc Giang</option>
            <option value="BNI">Bắc Ninh</option>
            <option value="HNO">Hà Nội</option>
            <option value="QNI">Quảng Ninh</option>
            <option value="HDU">Hải Dương</option>
            <option value="HPH">Hải Phòng</option>
            <option value="HBI">Hòa Bình</option>
            <option value="HYE">Hưng Yên</option>
            <option value="HNA">Hà Nam</option>
            <option value="TBI">Thái Bình</option>
            <option value="NDI">Nam Định</option>
            <option value="NBI">Ninh Bình</option>
            <option value="THO">Thanh Hóa</option>
            <option value="NAN">Nghệ An</option>
            <option value="HTI">Hà Tĩnh</option>
            <option value="QBI">Quảng Bình</option>
            <option value="QTR">Quảng Trị</option>
            <option value="HUE">Huế</option>
            <option value="DNG">Đà Nẵng</option>
            <option value="QNA">Quảng Nam</option>
            <option value="QNG">Quảng Ngãi</option>
            <option value="KTU">Kon Tum</option>
            <option value="GLA">Gia Lai</option>
            <option value="BDI">Bình Định</option>
            <option value="PYE">Phú Yên</option>
            <option value="DLA">Đắk Lắk</option>
            <option value="KHO">Khánh Hòa</option>
            <option value="DNO">Đắk Nông</option>
            <option value="LDO">Lâm Đồng</option>
            <option value="NTH">Ninh Thuận</option>
            <option value="BPH">Bình Phước</option>
            <option value="TNI">Tây Ninh</option>
            <option value="BDU">Bình Dương</option>
            <option value="DNA">Đồng Nai</option>
            <option value="BTH">Bình Thuận</option>
            <option value="HCM">Thành phố Hồ Chí Minh</option>
            <option value="LAN">Long An</option>
            <option value="BRV">Bà Rịa – Vũng Tàu</option>
            <option value="DTH">Đồng Tháp</option>
            <option value="AGI">An Giang</option>
            <option value="TGI">Tiền Giang</option>
            <option value="VLO">Vĩnh Long</option>
            <option value="BTR">Bến Tre</option>
            <option value="CTH">Cần Thơ</option>
            <option value="KGI">Kiên Giang</option>
            <option value="TVI">Trà Vinh</option>
            <option value="HUG">Hậu Giang</option>
            <option value="STR">Sóc Trăng</option>
            <option value="BLI">Bạc Liêu</option>
            <option value="CMA">Cà Mau</option>
        </select>
        <span asp-validation-for="Province1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="District1" class="control-label">Quận/Huyện</label>
        <input asp-for="District1" class="form-control" />
        <span asp-validation-for="District1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Commune_Ward1" class="control-label">Phường/Xã</label>
        <input asp-for="Commune_Ward1" class="form-control" />
        <span asp-validation-for="Commune_Ward1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="House_Number1" class="control-label">Số nhà, Đường</label>
        <input asp-for="House_Number1" class="form-control" />
        <span asp-validation-for="House_Number1" class="text-danger"></span>
    </div>
    <hr />

    <h2 class="title">VIỆC LÀM</h2>
    <div class="form-group">
        <label asp-for="Profession" class="control-label">Nghề nghiệp</label>
        <input asp-for="Profession" class="form-control" />
        <span asp-validation-for="Profession" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Agency" class="control-label">Cơ quan</label>
        <input asp-for="Agency" class="form-control" />
        <span asp-validation-for="Agency" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Agency_Address" class="control-label">Địa chỉ cơ quan</label>
        <input asp-for="Agency_Address" class="form-control" />
        <span asp-validation-for="Agency_Address" class="text-danger"></span>
    </div>
    <hr />

    <h2 class="title">THÔNG TIN GIA ĐÌNH</h2>
    <div class="form-group">
        <label asp-for="Father_Name" class="control-label">Họ tên cha</label>
        <input asp-for="Father_Name" class="form-control" />
        <span asp-validation-for="Father_Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Father_Birthdate" class="control-label">Ngày sinh</label>
        <input asp-for="Father_Birthdate" class="form-control" />
        <span asp-validation-for="Father_Birthdate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Mother_Name" class="control-label">Họ tên mẹ</label>
        <input asp-for="Mother_Name" class="form-control" />
        <span asp-validation-for="Mother_Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Mother_Birthdate" class="control-label">Ngày sinh</label>
        <input asp-for="Mother_Birthdate" class="form-control" />
        <span asp-validation-for="Mother_Birthdate" class="text-danger"></span>
    </div>
    <hr />

    <h2 class="title">LÝ DO CẤP HỘ CHIẾU</h2>
    <div class="form-group">
        <label asp-for="Content" class="control-label">Nội dung đề nghị</label>
        <input asp-for="Content" class="form-control" />
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <hr />

    <h2 class="title">NƠI TIẾP NHẬN HỒ SƠ ĐĂNG KÝ</h2>
    <div class="form-group">
        <label asp-for="Place_of_receiving_documents" class="control-label">Nơi tiếp nhận hồ sơ</label>
        <input asp-for="Place_of_receiving_documents" class="form-control" />
        <span asp-validation-for="Place_of_receiving_documents" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
