@model Project.Models.LoginForm

@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/LoginForm.css" />

<body>
    <div class="form">
        <h1>Đăng nhập</h1>
        <form asp-action="LoginForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="btn">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
