hr {
    margin: 10px 0 10px 0;
    border-style: solid;
    color: rgb(126, 126, 126);
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title h2 {
    margin: 0;
}

.title h3 {
    margin: 0;
    font-weight: normal;
}